@page
@model csci340_iseegreen.Pages.Genera.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Genera</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genera.KewID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genera.KewID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Genera?.GenusID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
