@page
@model csci340_iseegreen.Pages_ListItems.EditModel

@{
    ViewData["Title"] = "Edit";
}

<br>
<div id="header_box">
<h1 id="search_heading">Edit</h1>
</div>
<br>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ListItems.KewID" />
            <input type="hidden" asp-for="ListItems.ListID" />
            <div class="form-group" id="hide">
                <label asp-for="ListItems.LocationID" class="control-label"></label>
                <select asp-for="ListItems.LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
                <span asp-validation-for="ListItems.LocationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListItems.TimeDiscovered" class="control-label"></label>
                <input asp-for="ListItems.TimeDiscovered" class="form-control" />
                <span asp-validation-for="ListItems.TimeDiscovered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-itemid="@Model.ListItems.ListID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    #hide {
        display:none;
    }
</style>