html {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}








:root {
  --colormain: #557639;
  --colorsecondary: white;
  --colortertiary: rgb(39, 77, 39);
}





/* navbar & footer */


.navbar-toggler-icon {
  color: var(--colorsecondary);
  text-decoration-color: var(--colorsecondary);
  
}


footer {
  background-color: var(--colormain); 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.privlink {
  color: var(--colorsecondary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
}

.privlink:hover {
  color:black;
}

.navbar {
  background-color: var(--colormain);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 



/* landing page */


.containerhome {
  position: relative;
  text-align: center;
}


#home_head {
  text-align: center;
  background-color: var(--colormain);
  opacity: 87%;
  color: white;

  margin-bottom: 5px;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

#home_head:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
 

#home_loginbutton {
  position: absolute;
  right: 2%;
  top: 20%;
  bottom: 20%;

  background-color: var(--colorsecondary); /* Green */
  border: none;
  color: var(--colormain);
  padding: 5px 15px;
  text-align: center;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


/* 
#jumbo {
  display: block;
  width: 100%;
  padding: 0px;
  align-self: center;
  background: #00000000;
}
*/

#home_rect {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 30%;
  min-width: 300px;
  height: 30%;
  padding: 8px 8px 8px 8px;
  opacity: 87%;
  background: var(--colormain);
  border-width: 1px;
  border-style: solid;
  border-radius: 22px 22px 22px 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);

  -webkit-transform: scale(1);
  transform: scale(1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#home_rect:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#home_img{
  -webkit-transform: scaleX(1) scaleY(1);
  transform: scaleX(1) scaleY(1);

  object-fit: cover;
  height: 600px;

  transition: .5s ease-in-out;
  cursor: pointer;
}

#home_img:hover {
  -webkit-transform: scaleX(1.02) scaleY(1.02);
  transform: scaleX(1.02) scaleY(1.02);
}

.col {
  display: block;
  text-align: center  
}




#home_bigtext {
  height: 39px;
  color: var(--colorsecondary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
}

#home_searchbutton {
  background-color: var(--colorsecondary); /* Green */
  border: none;
  color: var(--colormain);
  padding: 10px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  transition-duration: 0.6s;
  cursor: pointer;
}

#home_searchbutton:hover {
  background-color: rgb(201, 201, 201);
  color: darkgreen;
  box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

#home_smalltext {
  color: var(--colorsecondary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container1 {
  position: relative;
  text-align: left;
  align-items: left;
}

#gallery1 {
  width:95%;
  overflow:hidden;
  height: auto;
  position:absolute;
  object-fit: cover;

  transition: .5s ease-in-out;
  cursor: pointer;
  -webkit-transform: scale(1);
	transform: scale(1);
  
}

#gallery1:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#col1 {
  width: 30%;
  position:relative;
  text-align: left;
}
#gallery2 {
  width:100%;
  height: auto;
  left:0;
  object-fit: cover;

  transition: .5s ease-in-out;
  cursor: pointer;
  -webkit-transform: scale(1);
	transform: scale(1);
}

#gallery2:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#col2{
  width: 30%;
  text-align: center;
}
#gallery3 {
  width:100%;
  height: auto;
  left:0;
  object-fit: cover;

  transition: .5s ease-in-out;
  cursor: pointer;
  -webkit-transform: scale(1);
	transform: scale(1);
}

#gallery3:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#col3 {
  width: 30%;
  position:relative;
  text-align: right;
}

/* Privacy Policy */

#privacy_header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#privacy_text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

/* About Page */

#about_header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  justify-content: left;
}


/* Search Page */

a {
  color: black;
  cursor: pointer;
}

a:hover {
  color: var(--colortertiary);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  width: 20%;
  border: 1px solid var(--colortertiary);
  padding: 5px;
}


tr {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: rgb(240, 240, 240);
}

tr:hover {
  background-color: #bdd0ac;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

thead {
  background-color:#bdd0ac;
}

input[type=text] {
  padding: 10px;
  margin: 10px;
  height: 43px;
  border-color: lightgray;
  border-radius: 5px;
}

input[type=text]:focus {
  outline: none;
  border-color: var(--colormain);
}

.custom_select {
  padding: 10px;
  margin: 10px;

  border-color: lightgray;
  color: var(--colortertiary);
  border-radius: 5px;
  cursor: pointer;
}

.custom_select:hover {
  border-color: var(--colormain)
}

.custom_select:focus {
  border-color: var(--colormain);
}

input[type=submit] {
  background-color: rgb(244, 244, 244);
  color: var(--colortertiary);

  padding: 5px;
  margin: 10px;

  border-color: lightgray;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out .5s;
}

input[type=submit]:hover {
  background-color: white;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: black;
}


#search_heading {
  margin-left: auto;
  margin-right: auto;

  padding: 5px; 
  text-align: center;
}

#prevnex {
  background-color: var(--colormain);
  border-color: var(--colormain);
}

#prevnex:disabled {
  background-color: var(--colormain);
  border-color: var(--colormain);
}

#header_box {
  background-color: #bdd0ac;
  width:100%;
  height: auto;
}

.mission_text {
  float: left;
  width: 75%
}

.mission_image {
  float: right;
  height: auto;
  width: 15%
}

.about_text {
  float: left;
  width: 75%
}

.about_image {
  float: right;
  height: auto;
  width: 15%
}

.about_page_section {
  clear: both
}

.book_link {
  color: #557639
}