@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<br>
<h1 id=about_header>Our Mission</h1>
<p>Many botanists, whether academic, professional, or amateur, use scientific names in their lists and in their writing. With the increasing spread of 
    plant species around the globe (whether on purpose or inadvertently), botanists more and more often need to use names that are not on their local 
    lists – and there are over 386 thousand plant species worldwide! Finding the currently accepted scientific name efficiently and getting it onto a list or 
    into a document with the correct spelling is challenging. There is a publicly available list, curated by a group of botanists at the Royal Botanic Gardens 
    (Kew), that includes all of the accepted and synonym species worldwide. I have streamlined that list into an efficient database that serves as the foundation 
    for an app that allows users to find and select names and then build lists that they can download to suit their needs.</p>

<p>The human tendency to ignore all plants (especially those that are not currently flowering or fruiting) in favor of animals, insects, and edible fruits, 
    has been described as “green blindness”. Because using a name for someone or something is an important facet of recognition, an easily-used database of plant 
    names is an important counterbalance, allowing people to “see” more and more of the green around them. Thus, my database and app are named I See Green.</p>

<br>

<h1 id=about_header>About Me</h1>

<p>Ann Willyard taught Botany and Plant Systematics at Hendrix College. She earned a PhD from Oregon State University, a MS from California State University 
    Chico, and a BA from University of California Santa Cruz. She has published and collaborated on botanical research papers, self-published the Learn to Love 
    Those Latin Names book, is an Associate Editor of the American Journal of Botany, and is currently working on a taxonomic revision of a complicated group of 
    pine species that are distributed across Mexico, Central America, and the southwest United States.</p>
<br>