@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<br>
<h1 id=about_header>Our Mission</h1>
<p>Use this page to detail your site.</p>

<br>

<h1 id=about_header>About Us</h1>

<p>Use this page to detail your site.</p>
<br>