@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<br>
<h1 id=privacy_header>@ViewData["Title"]</h1>

<p id=privacy_text>Use this page to detail your site's privacy policy.</p>
<br>